<!doctype html>
<html lang="en-US">
    <head>
        <link href="test.css" rel="stylesheet"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>My test page</title>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans"
            rel="stylesheet" />
    </head>
    <body>
        
        <!-- 4 heading levels: -->
        <h1>My main title</h1>
        <img src="../assets/img/favicon.png" alt="My test image" />
        <h2>My top level heading</h2>
        <p>This is a single paragraph</p>
        <h3>My subheading</h3>
        <p> At mozilla, we're a global community of </p>
        <ul>
            <li>technologists</li>
            <li> thinkers</li>
            <li>builders</li>
        </ol>
        <p>working together...</p>
        <h4>My sub-subheading</h4>
        <a href="https://www.mozilla.org/en-US/about/manifesto/">
            Mozilla Manifesto
        </a>
    </body>
</html>